.tldr:not(:empty) {
  border-radius: 4px;
  border: 1px solid lightsteelblue;
  display:flex;
  align-items: center;
}

.tldr .tldr-icon {
  margin-right: 1rem;
  background-color: lightsteelblue;
  border-radius: 2px;
  font-weight: 500;
  padding:1.5rem;
  font-size: 2rem;
  color: white;
}
