/* fix header section to the top */
header .header.block > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:50px;
  padding: 10px 200px 10px 200px;
  background-color: darkslategray;
  border-bottom: solid 2px white;
}

.header.block img {
  inline-size :300px;
  block-size: auto;
}


