.brands.block {
  padding: 0px 200px 0px 200px;
  background-color: white;

}

.brands.block > div {
  display: grid;
  grid-template-columns: repeat(4,minmax(240px,1fr));
  grid-auto-rows: minmax(100px,1fr);
  place-items: center;
}

.brands.block picture {

}