.navigation.block .navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 100px;
  padding-right: 100px;
  margin: 20px;
}

.navigation.block .navlinks .previous, .navigation.block .navlinks .next  {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.navigation.block .navlinks  .icon svg  {
  width: 20px;
}
