.navigation.block {
  padding-top:50px;
}

.navigation.block .navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 100px;
  padding-right: 100px;
  margin: 20px;
}

.navigation.block .navlinks .previous, .navigation.block .navlinks .next  {
  font-size: 1rem;
  color: darkslategray;
}

.navigation.block .navlinks  .icon svg  {
  width: 20px;
  fill:currentColor;
}

.navigation.block .navlinks a {
  display:flex;
  text-decoration: none;
  color: darkslategray;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.navigation.block .navlinks  a:visited {
  text-decoration: none;
  color: darkslategray;

}

