.navigation.block .navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 100px;
  padding-right: 100px;
  margin: 20px;
}

.navigation.block .navlinks .previous, .navigation.block .navlinks .next  {

  white-space: nowrap;
}
