aside.sidebar {
  grid-area: sidebar;
  position: relative;
  background-color: lightgray;
  padding: 0 1rem;
}

aside.sidebar > div {
  position: sticky;
  top: calc( var(--header-height) + 2rem);
}

/* general styling for li element */
aside.sidebar li {
  list-style: disc;
}

/* closed folder list icon */
aside.sidebar li.closed {
  list-style: disclosure-closed;
}

/* open folder list icon */
aside.sidebar li.open {
  list-style: disclosure-open;
}

/* highlight the active path */
aside.sidebar li span.active, a.active {
  background-color : lightcoral;
}

/* hide closed sub directories */
aside.sidebar li.closed > ul {
  display: none;
}

