aside.sidebar {
  grid-area: sidebar;
  position: relative;
  background-color: white;
  padding: 0 1rem;
  min-width:250px;
}

aside.sidebar nav {
  margin-left: 2rem;
}

aside.sidebar a {
  text-decoration: none;
  color: var(--text-color);
  line-height: 3rem;
  margin-right: 1.5rem;
  padding-left: 0.5rem;
}

aside.sidebar span {
  padding-left: 0.5rem;
}

aside.sidebar a:hover{
  text-decoration: underline;
}

aside.sidebar h1 {
  font-weight: 400;
  text-decoration: underline;
}

aside.sidebar > div {
  position: sticky;
  top: calc( var(--header-height) + 2rem);
}

aside.sidebar ul {
  margin-inline-start: -20px;
}

/* general styling for li element */
aside.sidebar li {
  list-style: disc;
}

/* closed folder list icon */
aside.sidebar li.closed {
  list-style: disclosure-closed;
}

/* open folder list icon */
aside.sidebar li.open {
  list-style: disclosure-open;
}

/* highlight the active path */
aside.sidebar li span.active, a.active {
  background-color : #93870030;
  border-left: 2px solid #afa100;
  font-weight: 600;
  min-width: 100%;
  display:block;
}

/* hide closed sub directories */
aside.sidebar li.closed > ul {
  display: none;
}

