footer {
  border-top : 1px solid black;
  background-color: darkgrey;
  text-align: center;
}

footer button.tag {
  color: black;
  background-color: lightblue;
  border: none;
  border-radius: 20px;
  padding: 7px;
  margin:5px;
}

