footer {
  background-color: darkslategray;
}
/* -- center content -- */
footer p {
  text-align: center;
  color: white;
}

footer .footernav   {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

footer .footernav .prev {
  width:33%;
  font-size: 1.2rem;
  padding: 10px;
}
footer .footernav .footertext {
  width:33%;
  font-size: 1.2rem;
  padding: 10px;
  inline-size: 100%;
}
footer .footernav .next {
  width:33%;
  flex: 1 1 auto;
  font-size: 1.2rem;
  padding: 10px;
  
}

footer .footernav .icon svg  {
  width: 20px;
  fill:currentColor;
}

footer .footernav a  {
  display:flex;
  text-decoration: none;
  color: white;
  align-items: left;
  gap: 10px;
  white-space: nowrap;
}

footer .footernav .prev a {
  justify-content: left;
}

footer .footernav .next a {
  justify-content: right;
}