aside.toc {
  grid-area: toc;
  position: relative;
  background-color: white;
  padding: 0 1rem;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  min-width:250px;
}

aside.toc h1 {
  font-weight: 400;
  text-decoration: underline;
}

aside.toc a {
  color: var(--text-color);
  text-decoration: none;
  line-height: 3rem;
  margin-right: 2rem;
  padding-left: 0.5rem;
}

aside.toc a:hover {
  color: var(--link-color);
}

aside.toc > div {
  position: sticky;
  top: calc( var(--header-height) + 2rem);
}

aside.toc li {
  list-style: disc;
  white-space: nowrap;
}

aside.toc li.closed {
  list-style: disclosure-closed;
}

aside.toc li.open {
  list-style: disclosure-open;
}

aside.toc ul {
  margin-inline-start: -20px;
}

aside.toc li.closed ul {
  display: none;
}

aside.toc a.active {
  background-color : #93870030;
  border-left: 2px solid #afa100;
  font-weight: 600;
  min-width: 100%;
  display:block;
}