 :root {
  /* colors */
  --background-color: #fff;
  --text-color: #2b2b2b;
  --link-color: #0085f2;

  /* fonts */
  --body-font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Menlo', 'Consolas', 'Monaco', 'Liberation Mono', 'Lucida Console', monospace;

  /* we base from everything from 10px */
  font-size: 10px;

  /* body sizes */
  --body-font-size-xs: 1.6rem;

  /* heading sizes */
  --heading-font-size-xxl: 3.2rem;
  --heading-font-size-xl: 2.8rem;
  --heading-font-size-l: 2.4rem;
  --heading-font-size-m: 2rem;
  --heading-font-size-s: 1.6rem;
  --heading-font-size-xs: 1.2rem;

  /* header and footer heights */
  --header-height: 64px;
  --footer-height: 40px;
}

html {
  height: 100%;
}

body {
  margin:0;
  background-color: var(--background-color);
  color: var(--text-color);
  width: auto;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 400;
  font-family: var(--body-font-family);
}

main {
  display:initial;
}

/* the main content section */
main > div.section {
  padding: 2rem 3rem;
}

/* images */
main > div.section picture {
  display: block;
  text-align: center;
}

main > div.section p img {
  border: 1px solid lightgrey;
  max-inline-size: 100%;
  height: auto;
}

/* hide the side bar in mobile for now */
aside.sidebar {
  display: none;
}

/* hide the TOC in mobile for now */
aside.toc {
  display: none;
}

/* headers */
.default-content-wrapper h1 {
  text-align: center;
  font-size: var(--heading-font-size-xxl);
  white-space: nowrap;
  font-weight: 400;
}

.default-content-wrapper h2 {
  text-align:start;
  font-size: var(--heading-font-size-xl);
  white-space: nowrap;
  font-weight: 400;
}

.default-content-wrapper h3 {
  text-align:start;
  font-size: var(--heading-font-size-l);
  white-space: nowrap;
  font-weight: 400;
}

.default-content-wrapper p {
  text-align: left;
  font-size: 1.6rem;
}

/* content stuff */
strong {
  font-weight: 500;
}

/* code inside text */
p > code , li > code {
  background-color: #ebebeb;
  font-size: 1.3rem;
  font-weight: 400;
  padding: .125rem .25rem;
  border-radius: 0.5rem;
}

/* links */
a, a:hover, a:visited {
  text-decoration: underline ;
  color: var(--link-color);
}

/* extend code auto blocks */
code.hljs::before {
  font-weight: b400;
  border: 1px solid darkgrey;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display:block;
  margin-bottom: 1.5rem;
  padding: 0.5rem 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  color: grey;
  background-color: #f9f9f9;
}

code.language-css::before {
  content: "CSS";
}

code.language-javascript::before {
  content: "JAVASCRIPT";
}

code.language-xml::before {
  content: "XML";
}

code.language-html::before {
  content: "HTML";
}

code.language-json::before {
  content: "JSON";
}

/* ----- Tablets ---- */

/* start showing sidebar  */
@media (min-width: 900px) {
  /* switch to a 2 col grid */
  main {
    display: grid;
    grid-template: "sidebar main" 
    / minmax(max-content,1fr) minmax(0,3fr)  ;
  }

  /* place the main div section in the right grid area */
  main > div.section {
    grid-area: main;
  }

  /* start showing the sidebar */
  aside.sidebar {
    display:initial;
  }
}

/* ---- Desktop ---- */

/* start showing toc */
@media (min-width: 1200px) {
  /* switch to a 3 col grid */
  main {
    display: grid;
    grid-template: "sidebar main toc" minmax(calc(100vh - var(--header-height) - var(--footer-height) ),min-content)
    / minmax(max-content,1fr) minmax(650px,900px) minmax(max-content,1fr) ;
  }

  /* start showing the toc */
  aside.toc {
    display:initial;
  }
}

/* there is no point in going wider */
@media (min-width: 1500px) {
  main {
    width:1500px;
    margin: 0 auto;
  }
}

