 /* mobile */
 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --text-color: #000;

  /* fonts */
  --body-font-family: 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* we base from everything from 10px */
  font-size: 10px;

  /* body sizes */
  --body-font-size-m: 1.25rem;
  --body-font-size-s: 1.25rem;
  --body-font-size-xs: 1.6rem;

  /* heading sizes */
  --heading-font-size-xxl: 3.2rem;
  --heading-font-size-xl: 2.8rem;
  --heading-font-size-l: 2.4rem;
  --heading-font-size-m: 2rem;
  --heading-font-size-s: 1.6rem;
  --heading-font-size-xs: 1.2rem;

  --header-height: 64px;
  --footer-height: 40px;
}

html {
  height: 100%;
}

body {
  margin:0;
  background-color: var(--background-color);
  width: auto;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 100;
  font-family: var(--body-font-family);
}

main {
  display:initial;
}

/* the main content section */
main > div.section {
  padding: 1rem;
}

/* images */
main > div.section img {
  border: 1px solid black;
}

/* hide the side bar in mobile for now */
aside.sidebar {
  display: none;
}

/* hide the TOC in mobile for now */
aside.toc {
  display: none;
}

/* headers */
.default-content-wrapper h1 {
  text-align: center;
  font-size: var(--heading-font-size-xxl);
  white-space: nowrap;
}

.default-content-wrapper h2 {
  text-align:start;
  font-size: var(--heading-font-size-xl);
  white-space: nowrap;
}

.default-content-wrapper h3 {
  text-align:start;
  font-size: var(--heading-font-size-l);
  white-space: nowrap;
}

.default-content-wrapper p {
  text-align: left;
  font-size: 1.6rem;
}

a:hover, a:visited, a {
  text-decoration:none;
  color: blue;
}

/* extend syntax highlighting for <pre><code>..code...</code></pre> sections */
pre code.hljs {
  display:block;
  padding: 0 20px;
  overflow: hidden;;
}

code.hljs::before {
  font-weight: bold;
  border-bottom: 1px solid white;
  display:block;
  margin-bottom: 10px;
  text-align: end;
}

code.language-css::before {
  content: "CSS";
}

code.language-javascript::before {
  content: "JavaScript";
}

code.language-xml::before {
  content: "XML";
}

code.language-html::before {
  content: "HTML";
}

code.language-json::before {
  content: "JSON";
}

code.hljs::after {
  content: " ";
  display:block;
  margin-top: 20px;
  border-top: 1px solid white;
}

/* start showing sidebar  */
@media (min-width: 768px) {
  /* switch to a 2 col grid */
  main {
    display: grid;
    grid-template: "sidebar main" 
    / minmax(0,1fr) minmax(0,3fr)  ;
  }

  /* place the main div section in the right grid area */
  main > div.section {
    grid-area: main;
  }

  /* start showing the sidebar */
  aside.sidebar {
    display:initial;
  }
}

/* start showing toc */
@media (min-width: 1200px) {
  /*switch to a 3 col grid */
  main {
    display: grid;
    grid-template: "sidebar main toc" minmax(calc(100vh - var(--header-height) - var(--footer-height) ),min-content)
    / 1fr 2.5fr 1fr ;
  }

  /* start showing the toc */
  aside.toc {
    display:initial;
  }
}

/* there is no point in going wider */
@media (min-width: 1400px) {
  main {
    width:1400px;
    margin: 0 auto;
  }
}

