.image-gallery.block {
  padding: 0px 200px 0px 200px;
}

.image-gallery.block > div {
  display: grid;
  grid-template-columns: repeat(4,225px) ;
  grid-auto-rows: min-max(80px, auto);
  grid-auto-flow: dense;

}

.image-gallery.block p {
  flex: 0 0 auto;
  padding: 0;
  margin:0;
  grid-column : span 2 / auto;
}

.image-gallery.block p picture {

}

.image-gallery.block p picture img{
  max-inline-size: 100%;

  object-fit: cover;
}